.bg {
    background-color: #DDAF94;
    height: 100%;
    background-size: cover;
    padding: 5%;
}

.content {

	background-color: #FDF8F5;

}

.middle {
	background-color: #E8CEBF;
}

.cards{
	padding: 4%;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 2%;

}


.navigation{
	margin: 1%;
}

.bottom{
	width: 100%;
	background-color: #266150;
}

.bottom-content{
	position: relative;
	padding-top: 5%;
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 10px;
}



@media only screen and (max-width: 1020px) {
.cards{
	max-width: 100%;
	padding: 4%;
	display: grid;
    grid-template-columns: auto;
    grid-column-gap: 1%;

}





}