<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebShop.kg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ea8d70caf1.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg">
    <div class="content">
    <section class="top">

        <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4">

  <!-- Navbar brand -->
  <a class="navbar-brand"  href="{% url "mainpage:shop_list"%}" style="color: #266150;font-family: 'Bebas Neue', cursive;padding: 5%;"href="#">SearchShop</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "mainpage:shop_list"%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          {% for category in categories %}
            <a class="dropdown-item" href="{{ category.pk }}">{{ category.name }}</a>
          {% endfor %}
        </div>
      </li>

    </ul>
    <!-- Search form -->
    <form class="form-inline" action="{% url "mainpage:shop_list" %}">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

    </section>



<section class="middle">
<div class="cards">
        {% for shop in shops.object_list %}
            <div class="card mb-3" style="width: 18rem;height:25rem;">
                <div class="image-div" style="width: 18rem; height: 50%;">
                    <img class="card-img" src="{{ shop.image.url }}" style="height: 100%; width: 100%;" alt="Card image cap"/>
    </div>
  <div class="card-body">
    <h5 class="card-title">{{ shop.name}}</h5>
    <p class="card-text"><i class="fas fa-phone-square-alt"></i>    {{ shop.contacts}}</p>
    <p class="card-text" ><i class="fas fa-map-marker-alt"></i>   {{ shop.address}}</p>
    <a href="{% url 'mainpage:catalog' pk=shop.id %}" class="btn btn-primary" style="background-color: #266150;">View Catalog</a>
  </div>
</div>
{% endfor %}
</div>
 </section>

<section style="background-color: #FDF8F5;" class="navigation">
<nav aria-label="...">
  <ul class="pagination" >
    <li class="page-item {% if not prev_url %}disabled{% endif %}">
      <a class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
    </li>



      {% for n in shops.paginator.page_range %}
          {% if shops.number == n %}
                <li class="page-item active">
                    <a class="page-link" style="background-color: #266150;" href="?page={{ n }}">{{n}}<span class="sr-only">(current)</span></a>
                </li>
          {% elif n > shops.number|add:-3 and n < shops.number|add:3 %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
          {% endif %}
      {% endfor %}
    <li class="page-item {% if not next_url %}disabled{% endif %}">
      <a class="page-link" href="{{ next_url }}" tabindex="-1">Next</a>
    </li>
  </ul>
</nav>
</section>


<div class="mt-5 pt-5 pb-5 footer" style="background-color: #266150;">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2 style="color: white;">About Us</h2>
      <p class="pr-5 text-white-50">"SearchShop" online service providing a list of all shops of the city with their information and catalogs. </p>
      <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3" style="color: white;">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a style="color: white;" href="https://api.whatsapp.com/send?phone=996700514256">Message on Whatsapp</a></li>
          <li>- <a style="color: white;" href="https://t.me/amy_diushes">Message on Telegram</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4" style="color: white;">Location</h4>
      <p>Neverland, Never st. 69 </p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>+996(700) 514-256</p>
      <p><i class="fa fa-envelope-o mr-3"></i>diushes1712@gmailcom</p>
    </div>
  </div>
  <div class="row mt-5">

  </div>
</div>
</div>

</section>
<p style="background-color: #FDF8F5;">© 2020 - 2020 SearchShop.com - online service to facilitate the process of shopping. The rights to text and other materials posted on the site are protected by law.</p>
</section>

    </div>
    </div>
    </div>




</body>
</html>